<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace = "com.web.cafe.mapper.BoardMapper">

	<insert id="insertBoard" parameterType="Board"
	useGeneratedKeys="true" keyProperty="no">
		INSERT INTO springbbs(title, writer, content,
			reg_date, read_count, pass, file1)
			
			VALUES(#{title}, #{writer}, #{content},
			SYSDATE(), #{readCount}, #{pass}, #{file1})
	</insert>
	
	<select id ="boardList" resultType="Board">
	SELECT 
		no,
		title,
		writer,
		content,
		reg_date AS regDate,
		read_count AS readCount,
		pass,
		file1
		recommend,
		thank
	FROM springbbs
	ORDER BY no DESC
	LIMIT #{startRow}, #{num}
	</select>
	
	<select id="getBoardCount">
	SELECT
		COUNT(no)
	FROM springbbs
	</select>	
	<select id="getBoard" resultType="Board">
		SELECT
		*
		FROM springbbs
		WHERE no = #{no}	
	</select>
	
	<select id="isPassCheck">
		SELECT
		pass
		FROM springbbs
		WHERE no = #{no}
	</select>
	
	<update id="updateBoard" parameterType="Board">
		UPDATE springbbs
			SET title  = #{title}, content = #{content},
				reg_date = SYSDATE()
		WHERE no = #{no}
	</update>	
	<!-- no에 해당하는 게시글의 읽은 조회수를 증가 -->
	<update id="incrementReadCount">
		UPDATE springbbs
			SET read_count = read_count + 1
		WHERE no = #{no}
	</update>
	
	<delete id = "deleteBoard">
		DELETE FROM springbbs
		WHERE no = #{no}
	</delete>
	
		
</mapper>









